/node_modules
/public_html/hot
/public_html/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
test-db-connection.php
test-env-credentials.php
diagnose-db.php
clear-cache.php
clear-cache-web.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Laravel
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

